@model IEnumerable<ReviewsSite.Models.Musical> 


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musical Home Site</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css"/>
</head>
<body>
    <h1>Welcome to the Musical Theatre Review Site!</h1>
    <p>This is the one-stop site for all of your musical theatre nonsense!</p>

    @foreach (var musical in Model)
    {
    <h2><a href="Musical/Details/@musical.Id">@musical.Title</a></h2>
    <ul>
        <li>Genre: @musical.Genre</li>
        <li>Description: @musical.Description</li>
        <li>Star rating: @musical.Rating</li>
        <li>Review: @musical.Comment</li>
    </ul>
    }

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h2><a href="/Review/">Our Reviews</a></h2>
        <section>
            <ul>
                <li>Chicago</li>
                <li>Wicked</li>
                <li>Hamilton</li>
                <li>Rent</li>
                <li>Cats</li>
                <li>Jesus Christ Superstar</li>
                <li>The Book of Mormon</li>
                <li>The Lion King</li>
            </ul>
        </section>
    <p>Submit your own reviews!</p>
</body>
</html>
